[user]
	name = Rob Vesse
	signingkey = 3EC8F577DCE417F3
[core]
	excludesfile = /Users/rvesse/.gitignore_global
	editor = vim
[push]
	default = upstream
[merge]
	tool = kdiff3

[alias]
	graph = log --oneline --pretty=format:'%C(auto)[%h] -%d %an %C(magenta)%cr%C(reset): %C(auto) %s' --abbrev-commit --all --graph --decorate --color
	bgraph = log --oneline --pretty=format:'%C(auto)[%h] -%d %an %C(magenta)%cr%C(reset): %C(auto) %s' --abbrev-commit --graph --decorate --color
	ll = log --pretty=format:'%C(auto)[%h] -%d %an %C(magenta)%cr%C(reset): %C(auto) %s' --decorate --numstat
	ls = log --pretty=format:'%C(auto)[%h] -%d %an %C(magenta)%cr%C(reset): %C(auto) %s' --decorate
	cstatus = status .
	tagcommit = !sh -c 'git rev-list $0 | head -n 1'
        compare = !sh -c 'git log $0 ^$1 --no-merges'
	rcompare = !sh -c 'git log $0 ^origin/$0 --no-merges'
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[status]
	displayCommentPrefix = 1
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
